{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": true,
            "dynamicImport": true
        },
        "target": "esnext",
        "baseUrl": "src"
    },
    "sourceMaps": true,
    "module": {
        "type": "commonjs"
    }
}
