.btn-close {
  --bs-btn-hover-bg: var(--bs-danger);
  --bs-btn-close-white-filter: invert(1);
}

.btn-close:hover {
  --bs-btn-close-white-filter: none;
}

.btn-xs {
  --bs-btn-padding-y: 0.225rem;
  --bs-btn-padding-x: 0.45rem;
  --bs-btn-font-size: 0.7875rem;
  --bs-btn-border-radius: 0.225rem;
}
