.pointer {
  cursor: pointer;
}

.selectableListElement {
  list-style-type: none;
}

.selectableListElement:hover {
  background-color: #5f5f71;
}

.selectableListElement:active,
.selected {
  background-color: #434350;
}

.fullHeight {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.scrollable {
  overflow: hidden;
  overflow-y: auto;
}

.btnNotAllowed {
  cursor: not-allowed;
}
